@use "../3-helpers" as *;

.article {
  &__container {
    background-color: #fff;
    border-radius: 10px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    @include media("desktop") {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 730px;
    }
  }

  &__image {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: url("../../../images/drawers.jpg") center/cover no-repeat;
    height: 200px;
    width: 100%;
    @include media("desktop") {
      background-position: top left;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      min-width: 290px;
      width: 290px;
      height: 100%;
    }
  }

  &__body {
    padding: 40px 36px 0 36px;
    @include media("desktop") {
      position: relative;
      padding: 30px 40px;
    }
  }

  &__share {
    height: 80px;
    background-color: $very-dark-grayish-blue;
    margin-left: -36px;
    margin-right: -36px;
    display: flex;
    padding: 20px 36px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include media("desktop") {
      height: 55px;
      position: absolute;
      right: -34px;
      bottom: 90px;
      padding-bottom: unset;
      padding-top: unset;
      width: 250px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -16px;
        border-width: 13px;
        border-style: solid;
        border-color: $very-dark-grayish-blue transparent transparent transparent;
      }
    }

    .share__socials,
    .share__text,
    .share__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }

    .share__socials {
      justify-content: space-around;
    }

    .share__text {
      color: #b2d0f7;
      letter-spacing: 5px;
      font-size: 12px;
      justify-content: start;
    }

    .share__container {
      justify-content: end;
      @include media("desktop") {
        display: none;
      }
    }
  }


  &__author {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    @include media("desktop") {
      padding-bottom: unset;
      padding-top: 0;
    }

    .author__image {
      height: 40px;
      width: auto;
      border-radius: 999px;
    }

    .author__details {
      display: flex;
      flex: 3;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;

      .author__name {
        color: $very-dark-grayish-blue;
        font-weight: 700;
      }

      .author__publish-date {
        padding-top: 2px;
        color: $grayish-blue;
      }
    }
  }

  &__title {
    line-height: 1.5;
    color: $very-dark-grayish-blue;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    @include media("desktop") {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__teaser {
    color: $desaturated-dark-blue;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 15px;
    @include media("desktop") {
      margin-bottom: 20px;
    }
  }
}