@use "../3-helpers" as *;

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.btn {
  background-color: $light-grayish-blue;

  &:hover {
    cursor: pointer;
  }

  &--share {
    border-radius: 999px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: right;
    align-self: center;

    @include media("desktop") {
      width: 33px;
      height: 33px;
    }
  }

  &--share-invert {
    background-color: $desaturated-dark-blue;

    path {
      fill: $light-grayish-blue;
    }
  }
}